In [117]:
import numpy as np
import pandas as pd

In [118]:
df = pd.read_csv("IPL_Matches_Result_2008_2022.csv")

In [119]:
df.head()

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,N,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,N,Gujarat Titans,Wickets,7.0,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,N,Punjab Kings,Wickets,5.0,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan

In [120]:
df = df[['City','MatchNumber','Team1','Team2','Venue','TossWinner','TossDecision','WinningTeam']]

In [121]:
df.head()

,City,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,WinningTeam
0,Ahmedabad,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,Gujarat Titans
1,Ahmedabad,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,Rajasthan Royals
2,Kolkata,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,Royal Challengers Bangalore
3,Kolkata,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,Gujarat Titans
4,Mumbai,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,Punjab Kings

In [122]:
df.columns.shape

(8,)

In [123]:
df.isnull().sum()

City            51
MatchNumber      0
Team1            0
Team2            0
Venue            0
TossWinner       0
TossDecision     0
WinningTeam      4
dtype: int64

In [124]:
df.City.unique()

array(['Ahmedabad', 'Kolkata', 'Mumbai', 'Navi Mumbai', 'Pune', 'Dubai',
       'Sharjah', 'Abu Dhabi', 'Delhi', 'Chennai', nan, 'Hyderabad',
       'Visakhapatnam', 'Chandigarh', 'Bengaluru', 'Jaipur', 'Indore',
       'Bangalore', 'Kanpur', 'Rajkot', 'Raipur', 'Ranchi', 'Cuttack',
       'Dharamsala', 'Kochi', 'Nagpur', 'Johannesburg', 'Centurion',
       'Durban', 'Bloemfontein', 'Port Elizabeth', 'Kimberley',
       'East London', 'Cape Town'], dtype=object)

In [125]:
df.shape

(950, 8)

In [126]:
df.City.sample(20)

235       Hyderabad
100       Abu Dhabi
156             NaN
842    Johannesburg
10      Navi Mumbai
273         Kolkata
637      Dharamsala
424          Mumbai
59           Mumbai
853       Centurion
895      Chandigarh
672          Jaipur
320         Kolkata
425       Hyderabad
230          Mumbai
474       Ahmedabad
181       Abu Dhabi
558       Bangalore
780           Delhi
179             NaN
Name: City, dtype: object

In [127]:
df.City = df.City.fillna("1-No Matter")

In [128]:
df.City.isnull().sum()

0

In [129]:
df.isnull().sum()

City            0
MatchNumber     0
Team1           0
Team2           0
Venue           0
TossWinner      0
TossDecision    0
WinningTeam     4
dtype: int64

In [130]:
df.dropna(inplace=True)

In [131]:
df.isnull().sum()

City            0
MatchNumber     0
Team1           0
Team2           0
Venue           0
TossWinner      0
TossDecision    0
WinningTeam     0
dtype: int64

In [132]:
df.shape

(946, 8)

In [133]:
df.head()

,City,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,WinningTeam
0,Ahmedabad,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,Gujarat Titans
1,Ahmedabad,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,Rajasthan Royals
2,Kolkata,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,Royal Challengers Bangalore
3,Kolkata,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,Gujarat Titans
4,Mumbai,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,Punjab Kings

In [134]:
df.City = df.City.apply(lambda x : x.strip())

In [135]:
for serie in df.columns:
    df[serie] = df[serie].apply(lambda x : x.strip())

In [136]:
df.head()

,City,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,WinningTeam
0,Ahmedabad,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,Gujarat Titans
1,Ahmedabad,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,Rajasthan Royals
2,Kolkata,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,Royal Challengers Bangalore
3,Kolkata,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,Gujarat Titans
4,Mumbai,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,Punjab Kings

In [137]:
df.City.unique()

array(['Ahmedabad', 'Kolkata', 'Mumbai', 'Navi Mumbai', 'Pune', 'Dubai',
       'Sharjah', 'Abu Dhabi', 'Delhi', 'Chennai', '1-No Matter',
       'Hyderabad', 'Visakhapatnam', 'Chandigarh', 'Bengaluru', 'Jaipur',
       'Indore', 'Bangalore', 'Kanpur', 'Rajkot', 'Raipur', 'Ranchi',
       'Cuttack', 'Dharamsala', 'Kochi', 'Nagpur', 'Johannesburg',
       'Centurion', 'Durban', 'Bloemfontein', 'Port Elizabeth',
       'Kimberley', 'East London', 'Cape Town'], dtype=object)

In [138]:
df.MatchNumber.unique()

array(['Final', 'Qualifier 2', 'Eliminator', 'Qualifier 1', '70', '69',
       '68', '67', '66', '65', '64', '63', '62', '61', '60', '59', '58',
       '57', '56', '55', '54', '53', '52', '51', '50', '49', '48', '47',
       '46', '45', '44', '43', '42', '41', '40', '39', '38', '37', '36',
       '35', '34', '33', '32', '31', '30', '29', '28', '27', '26', '25',
       '24', '23', '22', '21', '20', '19', '18', '17', '16', '15', '14',
       '13', '12', '11', '10', '9', '8', '7', '6', '5', '4', '3', '2',
       '1', 'Qualifier', 'Elimination Final', '72', '71',
       '3rd Place Play-Off', 'Semi Final'], dtype=object)

In [139]:
def change_match(x):
    try:
        n = int(x)
        return "Normal"
    except:
        l= x.split()
        if len(l) < 3:
            if l[0]=="Eliminator":
                return "Elimination"
            return l[0]
        else:
            return l[-1]


df.MatchNumber = df.MatchNumber.apply(change_match)

In [140]:
df.MatchNumber.unique()

array(['Final', 'Qualifier', 'Elimination', 'Normal', 'Play-Off', 'Semi'],
      dtype=object)

In [141]:
# df.Team1.isnull()

In [142]:
df.Team1.unique()

array(['Rajasthan Royals', 'Royal Challengers Bangalore',
       'Sunrisers Hyderabad', 'Delhi Capitals', 'Chennai Super Kings',
       'Gujarat Titans', 'Lucknow Super Giants', 'Kolkata Knight Riders',
       'Punjab Kings', 'Mumbai Indians', 'Kings XI Punjab',
       'Delhi Daredevils', 'Rising Pune Supergiant', 'Gujarat Lions',
       'Rising Pune Supergiants', 'Pune Warriors', 'Deccan Chargers',
       'Kochi Tuskers Kerala'], dtype=object)

In [143]:
def remove_old_club(x):
    if x not in ['Punjab Kings','Delhi Daredevils','Rising Pune Supergiant','Gujarat Lions','Rising Pune Supergiants','Pune Warriors','Deccan Chargers','Kochi Tuskers Kerala']:
        return True
    return False

# remove_old_club("Kings XI Punjab")
df.Team1 = np.where(df.Team1.apply(remove_old_club),df.Team1,np.nan)
df.Team2 = np.where(df.Team2.apply(remove_old_club),df.Team2,np.nan)

In [144]:
df.Team1.unique()

array(['Rajasthan Royals', 'Royal Challengers Bangalore',
       'Sunrisers Hyderabad', 'Delhi Capitals', 'Chennai Super Kings',
       'Gujarat Titans', 'Lucknow Super Giants', 'Kolkata Knight Riders',
       nan, 'Mumbai Indians', 'Kings XI Punjab'], dtype=object)

In [145]:
df.Team2.unique()

array(['Gujarat Titans', 'Rajasthan Royals', 'Lucknow Super Giants', nan,
       'Mumbai Indians', 'Royal Challengers Bangalore',
       'Kolkata Knight Riders', 'Sunrisers Hyderabad', 'Delhi Capitals',
       'Chennai Super Kings', 'Kings XI Punjab'], dtype=object)

In [146]:
df.shape

(946, 8)

In [147]:
df.dropna(inplace=True)

In [148]:
df.shape

(601, 8)

In [149]:
df.Venue.unique()

array(['Narendra Modi Stadium, Ahmedabad', 'Eden Gardens, Kolkata',
       'Wankhede Stadium, Mumbai', 'Brabourne Stadium, Mumbai',
       'Dr DY Patil Sports Academy, Mumbai',
       'Maharashtra Cricket Association Stadium, Pune',
       'Dubai International Cricket Stadium', 'Sharjah Cricket Stadium',
       'Zayed Cricket Stadium, Abu Dhabi', 'Arun Jaitley Stadium, Delhi',
       'MA Chidambaram Stadium, Chepauk, Chennai', 'Sheikh Zayed Stadium',
       'Rajiv Gandhi International Stadium',
       'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium',
       'MA Chidambaram Stadium',
       'Punjab Cricket Association IS Bindra Stadium', 'Wankhede Stadium',
       'M.Chinnaswamy Stadium', 'Arun Jaitley Stadium', 'Eden Gardens',
       'Sawai Mansingh Stadium',
       'Maharashtra Cricket Association Stadium',
       'Holkar Cricket Stadium', 'M Chinnaswamy Stadium',
       'Punjab Cricket Association IS Bindra Stadium, Mohali',
       'Rajiv Gandhi International Stadium, Uppal', 'Feroz Shah Kotla',
       'JSCA International Stadium Complex', 'Brabourne Stadium',
       'Punjab Cricket Association Stadium, Mohali',
       'MA Chidambaram Stadium, Chepauk', 'Sardar Patel Stadium, Motera',
       'Barabati Stadium', 'Himachal Pradesh Cricket Association Stadium',
       'Dr DY Patil Sports Academy', 'New Wanderers Stadium', 'Kingsmead',
       'SuperSport Park', "St George's Park", 'De Beers Diamond Oval',
       'Buffalo Park', 'Newlands'], dtype=object)

In [150]:
df.Venue.unique().shape

(42,)

In [151]:
counts = df.Venue.value_counts()

In [152]:
counts.shape

(42,)

In [153]:
counts

Eden Gardens                                            60
Wankhede Stadium                                        54
M Chinnaswamy Stadium                                   45
Dubai International Cricket Stadium                     41
Sawai Mansingh Stadium                                  36
MA Chidambaram Stadium, Chepauk                         33
Sheikh Zayed Stadium                                    28
Punjab Cricket Association Stadium, Mohali              27
Sharjah Cricket Stadium                                 24
Wankhede Stadium, Mumbai                                24
Rajiv Gandhi International Stadium, Uppal               22
Dr DY Patil Sports Academy, Mumbai                      16
Rajiv Gandhi International Stadium                      14
Brabourne Stadium, Mumbai                               13
M.Chinnaswamy Stadium                                   12
Maharashtra Cricket Association Stadium, Pune           11
Kingsmead                                               10
Sardar Patel Stadium, Motera                             9
MA Chidambaram Stadium                                   9
Punjab Cricket Association IS Bindra Stadium             9
Maharashtra Cricket Association Stadium                  8
MA Chidambaram Stadium, Chepauk, Chennai                 8
Arun Jaitley Stadium                                     7
Brabourne Stadium                                        7
Zayed Cricket Stadium, Abu Dhabi                         7
SuperSport Park                                          6
Holkar Cricket Stadium                                   6
Punjab Cricket Association IS Bindra Stadium, Mohali     6
Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium      6
JSCA International Stadium Complex                       6
St George's Park                                         5
Himachal Pradesh Cricket Association Stadium             4
Dr DY Patil Sports Academy                               4
Narendra Modi Stadium, Ahmedabad                         4
Arun Jaitley Stadium, Delhi                              4
Newlands                                                 4
Barabati Stadium                                         3
Feroz Shah Kotla                                         3
New Wanderers Stadium                                    2
Eden Gardens, Kolkata                                    2
De Beers Diamond Oval                                    1
Buffalo Park                                             1
Name: Venue, dtype: int64

In [154]:
repl = counts[counts<10]

In [155]:
repl

Sardar Patel Stadium, Motera                            9
MA Chidambaram Stadium                                  9
Punjab Cricket Association IS Bindra Stadium            9
Maharashtra Cricket Association Stadium                 8
MA Chidambaram Stadium, Chepauk, Chennai                8
Arun Jaitley Stadium                                    7
Brabourne Stadium                                       7
Zayed Cricket Stadium, Abu Dhabi                        7
SuperSport Park                                         6
Holkar Cricket Stadium                                  6
Punjab Cricket Association IS Bindra Stadium, Mohali    6
Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium     6
JSCA International Stadium Complex                      6
St George's Park                                        5
Himachal Pradesh Cricket Association Stadium            4
Dr DY Patil Sports Academy                              4
Narendra Modi Stadium, Ahmedabad                        4
Arun Jaitley Stadium, Delhi                             4
Newlands                                                4
Barabati Stadium                                        3
Feroz Shah Kotla                                        3
New Wanderers Stadium                                   2
Eden Gardens, Kolkata                                   2
De Beers Diamond Oval                                   1
Buffalo Park                                            1
Name: Venue, dtype: int64

In [156]:
repl.shape

(25,)

In [157]:
repl = repl.index

In [158]:
df['Venue'] = df['Venue'].replace(repl,"NO Matter")

In [159]:
df.Venue.unique()

array(['NO Matter', 'Wankhede Stadium, Mumbai',
       'Brabourne Stadium, Mumbai', 'Dr DY Patil Sports Academy, Mumbai',
       'Maharashtra Cricket Association Stadium, Pune',
       'Dubai International Cricket Stadium', 'Sharjah Cricket Stadium',
       'Sheikh Zayed Stadium', 'Rajiv Gandhi International Stadium',
       'Wankhede Stadium', 'M.Chinnaswamy Stadium', 'Eden Gardens',
       'Sawai Mansingh Stadium', 'M Chinnaswamy Stadium',
       'Rajiv Gandhi International Stadium, Uppal',
       'Punjab Cricket Association Stadium, Mohali',
       'MA Chidambaram Stadium, Chepauk', 'Kingsmead'], dtype=object)

In [160]:
df.Venue.value_counts()

NO Matter                                        131
Eden Gardens                                      60
Wankhede Stadium                                  54
M Chinnaswamy Stadium                             45
Dubai International Cricket Stadium               41
Sawai Mansingh Stadium                            36
MA Chidambaram Stadium, Chepauk                   33
Sheikh Zayed Stadium                              28
Punjab Cricket Association Stadium, Mohali        27
Sharjah Cricket Stadium                           24
Wankhede Stadium, Mumbai                          24
Rajiv Gandhi International Stadium, Uppal         22
Dr DY Patil Sports Academy, Mumbai                16
Rajiv Gandhi International Stadium                14
Brabourne Stadium, Mumbai                         13
M.Chinnaswamy Stadium                             12
Maharashtra Cricket Association Stadium, Pune     11
Kingsmead                                         10
Name: Venue, dtype: int64

In [161]:
df.head()

,City,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,WinningTeam
0,Ahmedabad,Final,Rajasthan Royals,Gujarat Titans,NO Matter,Rajasthan Royals,bat,Gujarat Titans
1,Ahmedabad,Qualifier,Royal Challengers Bangalore,Rajasthan Royals,NO Matter,Rajasthan Royals,field,Rajasthan Royals
2,Kolkata,Elimination,Royal Challengers Bangalore,Lucknow Super Giants,NO Matter,Lucknow Super Giants,field,Royal Challengers Bangalore
3,Kolkata,Qualifier,Rajasthan Royals,Gujarat Titans,NO Matter,Gujarat Titans,field,Gujarat Titans
5,Mumbai,Normal,Delhi Capitals,Mumbai Indians,"Wankhede Stadium, Mumbai",Mumbai Indians,field,Mumbai Indians

In [162]:
df.TossWinner.value_counts()

Mumbai Indians                 102
Chennai Super Kings             87
Kolkata Knight Riders           84
Rajasthan Royals                80
Royal Challengers Bangalore     77
Kings XI Punjab                 63
Sunrisers Hyderabad             60
Delhi Capitals                  33
Gujarat Titans                   8
Lucknow Super Giants             7
Name: TossWinner, dtype: int64

In [163]:
df.TossDecision.value_counts()

field    387
bat      214
Name: TossDecision, dtype: int64

In [164]:
df.WinningTeam.value_counts()

Mumbai Indians                 104
Chennai Super Kings             97
Kolkata Knight Riders           84
Royal Challengers Bangalore     77
Rajasthan Royals                71
Kings XI Punjab                 60
Sunrisers Hyderabad             57
Delhi Capitals                  32
Gujarat Titans                  11
Lucknow Super Giants             8
Name: WinningTeam, dtype: int64

In [165]:
data = df

In [166]:
data.head()

,City,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,WinningTeam
0,Ahmedabad,Final,Rajasthan Royals,Gujarat Titans,NO Matter,Rajasthan Royals,bat,Gujarat Titans
1,Ahmedabad,Qualifier,Royal Challengers Bangalore,Rajasthan Royals,NO Matter,Rajasthan Royals,field,Rajasthan Royals
2,Kolkata,Elimination,Royal Challengers Bangalore,Lucknow Super Giants,NO Matter,Lucknow Super Giants,field,Royal Challengers Bangalore
3,Kolkata,Qualifier,Rajasthan Royals,Gujarat Titans,NO Matter,Gujarat Titans,field,Gujarat Titans
5,Mumbai,Normal,Delhi Capitals,Mumbai Indians,"Wankhede Stadium, Mumbai",Mumbai Indians,field,Mumbai Indians

In [167]:
data['Winner'] = np.where(data['WinningTeam']==data['Team1'],'1','2')

In [168]:
data.head()

,City,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,WinningTeam,Winner
0,Ahmedabad,Final,Rajasthan Royals,Gujarat Titans,NO Matter,Rajasthan Royals,bat,Gujarat Titans,2
1,Ahmedabad,Qualifier,Royal Challengers Bangalore,Rajasthan Royals,NO Matter,Rajasthan Royals,field,Rajasthan Royals,2
2,Kolkata,Elimination,Royal Challengers Bangalore,Lucknow Super Giants,NO Matter,Lucknow Super Giants,field,Royal Challengers Bangalore,1
3,Kolkata,Qualifier,Rajasthan Royals,Gujarat Titans,NO Matter,Gujarat Titans,field,Gujarat Titans,2
5,Mumbai,Normal,Delhi Capitals,Mumbai Indians,"Wankhede Stadium, Mumbai",Mumbai Indians,field,Mumbai Indians,2

In [169]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 601 entries, 0 to 949
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   City          601 non-null    object
 1   MatchNumber   601 non-null    object
 2   Team1         601 non-null    object
 3   Team2         601 non-null    object
 4   Venue         601 non-null    object
 5   TossWinner    601 non-null    object
 6   TossDecision  601 non-null    object
 7   WinningTeam   601 non-null    object
 8   Winner        601 non-null    object
dtypes: object(9)
memory usage: 47.0+ KB

In [170]:
data = data.drop(columns=['WinningTeam'])

In [171]:
x = data.drop(columns=['Winner'])
y = data['Winner']

In [172]:
x.head()

,City,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision
0,Ahmedabad,Final,Rajasthan Royals,Gujarat Titans,NO Matter,Rajasthan Royals,bat
1,Ahmedabad,Qualifier,Royal Challengers Bangalore,Rajasthan Royals,NO Matter,Rajasthan Royals,field
2,Kolkata,Elimination,Royal Challengers Bangalore,Lucknow Super Giants,NO Matter,Lucknow Super Giants,field
3,Kolkata,Qualifier,Rajasthan Royals,Gujarat Titans,NO Matter,Gujarat Titans,field
5,Mumbai,Normal,Delhi Capitals,Mumbai Indians,"Wankhede Stadium, Mumbai",Mumbai Indians,field

In [173]:
y.head()

0    2
1    2
2    1
3    2
5    2
Name: Winner, dtype: object

In [174]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=0)

In [175]:
y_test

942    1
64     1
219    1
193    2
473    2
      ..
610    1
522    2
331    2
155    2
803    1
Name: Winner, Length: 121, dtype: object

In [176]:
y_train

607    1
710    2
300    1
146    2
170    1
      ..
327    2
11     1
493    2
221    2
874    1
Name: Winner, Length: 480, dtype: object

In [177]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

In [178]:
from sklearn.pipeline import make_pipeline

In [179]:
le = LabelEncoder()
le.fit(y_train)
y_train = le.transform(y_train)
y_test = le.transform(y_test)

In [180]:
y_train

array([0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0,
       0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0,
       1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0,
       0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1,
       0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0,
       1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0,
       0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0,
       0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0,
       1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1,
       1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0,
       0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1,
       0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1,
       0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0,
       0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0,
       1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0])

In [181]:
y_test

array([0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1,
       1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1,
       0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1,
       1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0])

In [182]:
x_train.columns

Index(['City', 'MatchNumber', 'Team1', 'Team2', 'Venue', 'TossWinner',
       'TossDecision'],
      dtype='object')

In [183]:
# x_train = x_train.drop(columns=['WinningTeam'])

In [184]:
# x_train

In [185]:
# x_test = x_test.drop(columns=['WinningTeam'])
# x_test

In [186]:
trf1 = ColumnTransformer([
    ('ohe',OneHotEncoder(sparse_output=False),['City', 'MatchNumber', 'Team1', 'Team2', 'Venue', 'TossWinner',
       'TossDecision'])
],remainder="drop")

In [211]:
from sklearn.linear_model import LinearRegression,Lasso,Ridge
lr = LinearRegression()
from sklearn import tree
model = tree.DecisionTreeClassifier()

In [212]:
# x_train_tranformed = trf1.fit_transform(x_train)

In [213]:
# x_test_tranformed = trf1.transform(x_test)

In [214]:
pipe = make_pipeline(trf1,model)

In [215]:
pipe.fit(x_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(transformers=[('ohe',
                                                  OneHotEncoder(sparse_output=False),
                                                  ['City', 'MatchNumber',
                                                   'Team1', 'Team2', 'Venue',
                                                   'TossWinner',
                                                   'TossDecision'])])),
                ('decisiontreeclassifier', DecisionTreeClassifier())])

In [216]:
x_train

,City,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision
607,Chandigarh,Normal,Kings XI Punjab,Kolkata Knight Riders,"Punjab Cricket Association Stadium, Mohali",Kolkata Knight Riders,field
710,Mumbai,Normal,Mumbai Indians,Rajasthan Royals,Wankhede Stadium,Mumbai Indians,bat
300,Mumbai,Normal,Mumbai Indians,Royal Challengers Bangalore,Wankhede Stadium,Royal Challengers Bangalore,field
146,Abu Dhabi,Normal,Royal Challengers Bangalore,Mumbai Indians,Sheikh Zayed Stadium,Mumbai Indians,field
170,1-No Matter,Normal,Royal Challengers Bangalore,Chennai Super Kings,Dubai International Cricket Stadium,Royal Challengers Bangalore,bat
...,...,...,...,...,...,...,...
327,Bangalore,Normal,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Kolkata Knight Riders,field
11,Mumbai,Normal,Rajasthan Royals,Lucknow Super Giants,"Brabourne Stadium, Mumbai",Rajasthan Royals,bat
493,Mumbai,Qualifier,Chennai Super Kings,Kings XI Punjab,Wankhede Stadium,Chennai Super Kings,field
221,Hyderabad,Normal,Chennai Super Kings,Sunrisers Hyderabad,Rajiv Gandhi International Stadium,Chennai Super Kings,bat
874,Durban,Normal,Kings XI Punjab,Mumbai Indians,Kingsmead,Kings XI Punjab,bat

In [217]:
# sorted(x_train.MatchNumber.unique())

In [218]:
# x_test = x_test[x_test.MatchNumber!="57"]

In [219]:
# x_test = x_test[x_test.MatchNumber!="67"]

In [220]:
y_predicted = pipe.predict(x_test)

In [221]:
y_pred = []
for i in y_predicted:
    if i>0.5:
        y_pred.append(1)
    else:
        y_pred.append(0)

In [222]:
y_predic = np.array(y_pred)

In [223]:
y_test[:10]

array([0, 0, 0, 1, 1, 1, 0, 0, 1, 1])

In [226]:
y_pred[:10]

[1, 1, 1, 0, 0, 0, 0, 1, 0, 0]

In [224]:
from sklearn.metrics import r2_score

In [225]:
r2_score(y_test,y_predicted)

-0.8282967032967035